/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.55);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.text-left {
    text-align: left;
}

.width-20 {
    width: 45%;
}

.align-left {
    text-align: left;
}

main {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-image: url("../images/white-waves.png");
}

input {
    box-sizing: border-box;
    border: none;
    text-align: center;
    height: 100%;
    width: 100%;
}

.invoice input {
    background-color: #e8e8e8;
}

.total input:enabled {
    background-color: #e8e8e8;
    border: 1px solid black;
    border-radius: 4px;
}

.input:active,
.input:focus {
    outline: none;
}

.top-nav {
    height: 5vh;
    font-size: 3vh;
    color: white;
    padding-top: 2vh;
    border-radius: 0px 0px 5px 5px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(48, 48, 48, 1) 35%, rgba(119, 119, 119, 1) 100%);
}

.top-nav:hover {
    background: linear-gradient(90deg, rgba(119, 119, 119, 1) 0%, rgba(48, 48, 48, 1) 35%, rgba(0, 0, 0, 1) 100%);

}

.ig-logo {
    padding-left: 5vw;
}

.content-area {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page {
    background-image: url("../images/bg.svg");
    background-color: #e8e8e8;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    padding: 30px;
    height: 95%;
    width: 60%;
    box-shadow: -25px 25px 40px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.page-header {
    height: 30%;
    display: flex;
    flex-direction: column;
}

.page-content {
    margin-top: 10px;
    flex: 1;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-name {
    font-size: 4vw;
    color: white;
}

.header-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.total {
    height: 30%;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.total-info {
    display: flex;
    width:60%;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 0px 15px -9px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.table-area {
    width: 100%;
    height: 80%;
    box-shadow: 0px 0px 15px -9px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.invoice {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fefefe;
    padding: 25px;
    border-radius: 5px;
    width: 30%;
    height: 50%;
    box-shadow: 0px 0px 37px -9px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.additembtn {
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #000000;
    padding: 15px 0px 15px 0px;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.additembtn:hover {
    background-color: rgba(0, 0, 0, 0.06);
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
}

.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.text-center {
    text-align: center;
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.popup-description {
    flex-direction: column;
    justify-content: space-between;
}

.popup-header {
    height: 10%;
    margin-bottom: 20px;
}

.actionBtn {
    display: flex;
    height: 35px;
    width: 250px;
    overflow: hidden;
}

#deleteBtn, #editBtn, #saveBtn {
    color: #4C8DD0;
    padding: 7px;
}

#deleteBtn, #editBtn {
    display: none;
    flex: 33.33%;
}

#deleteBtn:hover {
    color: red;
    cursor: pointer;
}

#saveBtn:hover {
    color: green;
}

tr:hover #deleteBtn, tr:hover #editBtn, tr:hover #saveBtn {
    display: block;
    cursor: pointer;
}

.invoice td, .invoice th {
    border: 1px solid #404040;
}

th {
    background-color: #333333;
    color: white;
}

.name, .price, .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}

#item-quantity:focus, #item-price:focus, #item-name:focus {
    outline: none;
}
.new-invoice:hover, .add-item-button:hover {
    cursor: pointer;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px rgba(0, 0, 0, 0.44), 0 0 4px rgba(0, 0, 0, 0.89), 0 0 5px #4C8DD0;
    }

    to {
        text-shadow: 0 0 2px #fff, 0 0 3px rgba(0, 0, 0, 0.69), 0 0 4px rgba(0, 0, 0, 0.85), 0 0 5px rgba(0, 0, 0, 0.96), 0 0 6px #4C8DD0;
    }
}

